extends layout
block content
    div(class="formulario")
        form.w3-container(id="form")
            label
                b Selecione um ficheiro
            input.w3-input.w3-border.w3-light-grey(type='file' id='fil')
            br
            label
                b Descrição
            input.w3-input.w3-border.w3-light-grey(type='text' id='descricao')
            br
            center
                button.w3-btn.w3-white(id='adicionar') Submeter
    div(class="recebidos")
        hr.w3-border-grey
        center
            h2(class="h12") Ficheiros Recebidos
        table.w3-table-all.w3-hoverable(id="lista")