extends layout
block content
    div(style='margin-left:15%')
        header.w3-container.w3-teal
            h3 Erro
        w3.container
            p=e
        footer.w3-container.w3-teal
            address Gerado por FormApp