extends layout
block content
    div(style='margin-left:15%')
        center
            header.w3-container.w3-teal
                h3 As minhas Tarefas
        center
            img(src='home.png' style='width:50%')