doctype html
html
    head
        title Desenvolvimento de Aplicações Web (TPC6)
        meta(charset='UTF-8')
        link(rel='stylesheet',href='/w3.css')
    body
        nav.w3-sidebar.w3-bar-block.w3-card.w3-light-grey(style='width:15%')
            a.w3-bar-item.w3-button(href='/') Home
            a.w3-bar-item.w3-button(href='/registo') Registar Tarefa
            a.w3-bar-item.w3-button(href='/lista') Lista de Tarefas
            a.w3-bar-item.w3-button(href='/remover') Eliminar Tarefa
        block content